aside {
    /* left: 0; */
    margin-left: 0;
    transition: all .5s ease-in-out;
    margin-top: 28px;
    position: relative;
    overflow-x: hidden;

}

.navOpen {
    /* left: 250px; */
    margin-left: 250px;
}


.carousel-root{
    /* border: 2px solid blue; */
    
} 
.carousel-slider {
    height: calc(100vh - 90px) !important;
    max-width: 100%;
}

.slider-wrapper{
    height: 100%;
}

.slider {
    height: 100%;
}