@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap");
:root {
  --primary: #F2BF69;
  --white: #f5f5f5;
  --secondary: #0B342E;
  --dark:#000;
  --backgroundColor:#fefae0;
  --footerColor:#320B11

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {

  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
