.homePageParentDiv {
  max-height: calc(100vh - 90px);
  max-width: 100%;
  background-color: var(--backgroundColor) !important;
  display: flex;
  justify-content: center;

  background-color: var(--white);
  .homePageContDiv {
    max-height: 100%;
    max-width: 95%;
    display: flex;

    img {
      background-size: contain;
      object-fit: cover;
      height: 650px;
      width: 650px;
    }
  }
}
